{% extends 'base.html.twig' %}

{% block body %}
    <div class="positioner clearfix">
        <h1 class="product-name">{{ product.name }}</h1>
        <div class="product-image-wrapper">
            <img class ="product-image" src="{{ asset('uploads/images/' ~ product.image) }}" alt="{{ product.name }}.picture">
        </div>
        <div class="product-table-wrapper clearfix">
            <table class="table table-bordered">
                <tbody>
                <tr class="active">
                    <th>Наименование</th>
                    <th>Значение</th>
                </tr>
                <tr>
                    <th>Id</th>
                    <td>{{ product.id }}</td>
                </tr>
                <tr>
                    <th>Name</th>
                    <td>{{ product.name }}</td>
                </tr>
                <tr>
                    <th>Description</th>
                    <td>{{ product.description }}</td>
                </tr>
                <tr>
                    <th>Uniqueidentifier</th>
                    <td>{{ product.uniqueIdentifier }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    <style>
        body {
            margin: 0;
            padding: 0;
        }

        .positioner {
            position: relative;
            max-width: 1200px;
            min-width: 360px;
            padding: 10px;
            margin: 0 auto;
        }

        .product-name {
            font-size: 30px;
            text-align: center;
        }

        .product-image-wrapper {
            display: inline-block;
            /*max-height: 450px;*/
            /*max-width: 450px;*/
            width: 40%;
            float: left;
            box-sizing: border-box;
            text-align: center;
            margin-bottom: 10px;

        }

        .product-image {
            width: 100%;
            height: 100%;
            max-width: 500px;
            object-fit: cover;
            border-radius: 20px;
        }

        .clearfix::after,
        .clearfix::before {
            display: table;
            clear: both;
            content: "";
        }

        .product-table-wrapper {
            width: 55%;
            margin-left: 5%;
            display: inline-block;
        }

        @media all and (max-width: 768px) {
            .product-image-wrapper {
                width: 100%;
            }
            .product-table-wrapper {
                display: block;
                width: 100%;
                margin-left: 0;
            }
        }
    </style>
{% endblock %}