{% extends 'base.html.twig' %}
{% block title %}Product's Catalog Main Page{% endblock %}
{% block body %}

<div class="main-page-wrapper">
    <div class="vertical-middle">

        {% for flashMessage in app.session.flashbag.get('success') %}
            <div class="alert alert-success">
                {{ flashMessage }}
            </div>
        {% endfor %}

        <h1 class="project-name">Course Work Product's Catalog</h1>


        {% if app.user %}
            <p class="project-description">Hello,
                <span class="username">{{ app.user.name }}</span>,
                start using
                <a href="{{ path('catalog_index')}}" class="link-border-animation link-orange">Catalog</a>
                now!</p>
            <p class="user-greetings">
            </p>
            <a href="{{ path('logout')}}" class="btn btn-warning btn-150px btn-margin">Logout</a>
        {% else %}
            <p class="project-description">Login or register for access catalog.</p>
            <a href="{{ path('login')}}" class="btn btn-warning btn-150px btn-margin">Login</a>
            <a href="{{ path('registration')}}" class="btn btn-warning btn-150px btn-margin">Register</a>
            <p class="password-reset-wrapper">
                Forgot your password?
                Click <a href="{{ path('forgotpassword')}}" class="link-border-animation link-orange">here.</a>
            </p>
        {% endif %}

        <footer class="footer">
            <p class="footer-text">
                Git repository <a href="https://github.com/enocryph/CourseWork"
                                  class="link-border-animation link-black">here</a>.
            </p>
        </footer>
    </div>
</div>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href=" {{ asset('css/style.css') }} ">
{% endblock %}
