{% extends 'base.html.twig' %}

{% block body %}
    <div class="page-wrapper">
        <div class="vertical-middle">
            <div class="col-md-4 col-md-offset-4">
                <h3>New Password</h3>

                {% for flashMessage in app.session.flashbag.get('error') %}
                    <div class="alert alert-danger">
                        {{ flashMessage }}
                    </div>
                {% endfor %}

                {{ form_start(resetForm) }}

                <div class="form-group">
                    {{ form_row(resetForm.password, {'attr': {'class': 'form-control'},
                        'label_attr': {'class': 'control-label'}
                    })
                    }}
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-warning btn-margin btn-150px">
                        <i class="fa fa-btn fa-sign-in"></i> Submit
                    </button>
                    <a href="{{ path('homepage')}}" class="btn btn-default btn-150px btn-margin">Homepage</a>
                </div>

                {{ form_end(resetForm) }}
            </div>

            <footer class="footer">
                <p class="footer-text">
                    Git repository <a href="https://github.com/enocryph/CourseWork"
                                      class="link-border-animation link-black">here</a>.
                </p>
            </footer>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href=" {{ asset('css/style.css') }} ">
{% endblock %}